body {
    font-family: 'Quattrocento', serif;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.main {
    margin: 1em auto;
    padding: 0;
    max-width: 600px;
    line-height: 2;
    font-size: 24px;
}
.main h1 {
    margin: 0;
    font-size: 4em;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
}
.main h2,
.main h3 {
    margin: 0;
    font-size: 1em;
}
.main img {
    float: left;
    margin-right: 5px;
}
.main p {
    margin: 0;
}
.main blockquote {
    margin: 0;
}

.demo {
}


.linenumber line {
    position: relative;
}
.linenumber line:before {
    content: attr(index);
    position: absolute;
    right: 10px;
    margin-right: 100%;
    width: 1em;
    text-align: center;
    color: #666;
}
line {
    margin: 1px 0;
    padding: 0 10px;
    background-color: #EFEFEF;
}
line[index="1"] {
    color: #FFF;
    background-color: #DA4453;
}
line[index="2"] {
    color: #FFF;
    background-color: #E9573F;
}
line[index="3"] {
    color: #FFF;
    background-color: #F6BB42;
}
line[index="4"] {
    color: #FFF;
    background-color: #8CC152;
}
line[index="5"] {
    color: #FFF;
    background-color: #37BC9B;
}
line[index="6"] {
    color: #FFF;
    background-color: #3BAFDA;
}
line[index="7"] {
    color: #FFF;
    background-color: #4A89DC;
}
line[index="8"] {
    color: #FFF;
    background-color: #967ADC;
}
