body {
    font-family: 'Quattrocento', serif;
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.main {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    margin: 1em 0 0;
    font-size: 4em;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 1.3125em;
    line-height: 2em;
    margin: 1em 0;
}

ol {
    font-size: 1.3125em;
    line-height: 2em;
}

.demo {
    width: 40em;
    margin: 0 auto;
}

.caret {
    vertical-align: top;
    display: inline-block;
    height: 1px;
    width: 1em;
    background-color: red;
    position: absolute;
}

.line1 {
    color: #DA4453;
}
.line2 {
    color: #E9573F;
}
.line3 {
    color: #F6BB42;
}
.line4 {
    color: #8CC152;
}
.line5 {
    color: #37BC9B;
}
.line6 {
    color: #3BAFDA;
}
.line7 {
    color: #4A89DC;
}
.line8 {
    color: #967ADC;
}
